@page "/Index"

@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@attribute [Authorize(Roles="Administrador, Empleado")]



<PageTitle >Aridio Renta Car</PageTitle>

<h1 style="color: darkorange;">Aridio Renta Car</h1>




<AuthorizeView>
    <Authorized>
        <h1>Bienvenido @context.User.Identity!.Name</h1>
    </Authorized>
</AuthorizeView>


<div>Prueba</div>

